@import url(reset.css);
@import url(fonts.css);

body, textarea, input, button { font-family: "M1c"; font-weight: 300;
  font-size: 24px; }

article, footer { margin: 0 auto; width: 100%; }
article:after, footer:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }

form { position: relative; margin-bottom: 32px; }

fieldset { margin: 0 auto 32px auto; padding: 32px; max-width: 512px; background: #f9f9f9; font-size: 20px; border-radius: 8px; }
fieldset input { margin-bottom: 8px;}

body, article, textarea, input, button, div { box-sizing: border-box; }

input, textarea { display: block; background: #fff; box-sizing: border-box; margin: 0; padding: 12px;
  width: 100%; border: none; font-size: 16px; line-height: 24px; border-radius: 4px;
  box-shadow: 0 1px 1px 0 rgba(0,0,0,.1); }
input:focus { box-shadow: 0 1px 1px 0 rgba(0,0,0,.1), 0 0 0 2px rgba(81,158,244,.5); }
textarea { height: 48px; resize: none; overflow: hidden; }
textarea[name="text"] { height: 448px; font-size: 18px; line-height: 1.3; }
::-webkit-input-placeholder { color: #777; }
:focus::-webkit-input-placeholder { color: #ccc; }
button { display: inline-block; float: right; margin: 0; padding: 12px 32px; border: none; background: #fff; font-size: 16px; color: #777; border-radius: 4px;
  box-shadow: 0 1px 0 0 rgba(0,0,0,.1); }

p { margin-bottom: 8px; line-height: 1.3; }
li { margin-bottom: 4px; line-height: 1.3; }

.hidden { display: none; }

footer { text-align: center; font-size: 14px;}
footer a { color: #ccc; }

/* Head */
.ui-head { display: inline-block; padding-top: 0; width: 48px; height: 48px; background: hsl(332, 70%, 70%); border-radius: 24px; font-size: 16px; line-height: 48px; color: rgba(0,0,0,.4); }
.ui-head:hover { text-decoration: none; }

/* Buttons */
.ui-button { display: block; padding: 12px 32px; font-size: 14px; background-color: #fff; color: #777; border-radius: 4px;
  box-shadow: 0 1px 0 0 rgba(0,0,0,.1); }
.ui-button:hover { text-decoration: none; }

.ui-button-login { position: absolute; top: 16px; right: 16px; z-index: 9; }
.ui-button-logout { position: absolute; bottom: 32px; right: 32px; z-index: 9; }
.ui-button-home { position: absolute; bottom: 32px; left: 32px; z-index: 9; }

/* Item */
.ui-item { position: relative; float: left; padding: 12px 0; clear: both; font-size: 14px; line-height: 24px; border-bottom: 1px solid #F0ECC6; }
.ui-item a { display: inline-block; font-size: 16px; font-weight: 300; color: #000; }
.ui-item a:hover { text-decoration: none; }
.ui-item .ui-item-delete { position: absolute; display: none; top: 12px; left: -16px; padding: 4px; color: #E7808D !important; }
.ui-item:hover .ui-item-delete { display: block; }

/* Grid */
.ui-grid { width: 100%; text-align: center; }
.ui-grid:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.ui-grid .ui-item { display: inline-block; margin: 0 8px 8px 0; padding: 16px; width: 256px; min-height: 256px; clear: none; vertical-align: center; }
.ui-grid .ui-item a { color: #fff; }
.ui-grid .ui-item .ui-item-delete { top: 16px; left: auto; right: 16px; color: #fff !important; }

/* Solids */
.ui-solids .ui-item { padding: 12px; }
.ui-solids .ui-item a { color: #fff; }

/* Skit */
.ui-skit { position: absolute; top: 0; right: 0; bottom: 0; left: 0; padding: 32px; background: rgba(250,250,250,.95);
  border-left: 1px solid #eee; }
.ui-skit:nth-child(2) { left: 64px; z-index: 1; }
.ui-skit:nth-child(3) { left: 128px; z-index: 2; }
.ui-skit:nth-child(4) { left: 96px; z-index: 3; }

/* Auth */
.ui-auth { margin-top: 64px; }

@media (min-width : 300px) and (max-width : 600px) {
  .ui-skit { padding: 16px; }
  .ui-skit:nth-child(2) { left: 0; }
  .ui-skit:nth-child(3) { left: 0; }
  .ui-skit:nth-child(4) { left: 0; }
  .ui-item { position: relative; float: none; padding: 0; font-size: 14px; line-height: 20px; }
  .ui-item a { padding: 12px 12px 12px 0; font-size: 14px; }
  .ui-item .ui-item-delete { display: block; top: 0px; left: auto; right: 0px; }
  input, textarea { margin: 0; font-size: 14px; line-height: 20px; }
  .ui-button-home,
  .ui-button-logout { display: none; }
}
