{{define "title"}}
  <title>{{.}}</title>
{{end}}

{{define "header"}}
  <meta name="viewport" content="initial-scale=1, maximum-scale=1">
  <link rel="stylesheet" href="/static/stylesheets/screen.css">

  <script type="text/javascript" src="/static/javascript/vendor/underscore.js"></script>
  <script type="text/javascript" src="/static/javascript/vendor/jquery.js"></script>
  <script type="text/javascript" src="/static/javascript/vendor/jquery-ui.js"></script>
  <script type="text/javascript" src="/static/javascript/socket.js"></script>
  <script type="text/javascript" src="/static/javascript/main.js"></script>

  <!-- Testing
  <link rel="stylesheet" type="text/css" href="/static/jasmine/lib/jasmine-2.0.1/jasmine.css">
  <script type="text/javascript" src="/static/jasmine/lib/jasmine-2.0.1/jasmine.js"></script>
  <script type="text/javascript" src="/static/jasmine/lib/jasmine-2.0.1/jasmine-html.js"></script>
  <script type="text/javascript" src="/static/jasmine/lib/jasmine-2.0.1/boot.js"></script>
  <script type="text/javascript" src="/static/jasmine/jasmine-jquery.js"></script>
  <script type="text/javascript" src="/static/javascript/tests.js"></script> -->
{{end}}

{{define "login"}}
  {{if .request}}
    {{if .request|isAuthenticated}}{{else}}
    <a class="ui-button ui-button-login" href="/login">Sign in</a>
    {{end}}
  {{end}}
{{end}}

{{define "footer"}}
  <footer>
    <a href="/" class="ui-home">Home</a>
    {{if .request}}
      {{if .request|isAuthenticated}}{{else}}
      · <a class="ui-login" href="/login">Sign in</a>
      {{end}}

      {{if .request|isAuthenticated}}
      · <a class="ui-logout" href="/logout">Sign out</a>
      {{end}}
    {{end}}
  </footer>
{{end}}

{{define "alert"}}
  <div id="alert"></div>
{{end}}

{{define "renderItem"}}
  <div class="ui-item" id="{{.Hash}}" data-hash="{{.Hash}}" data-parent="{{.Parent}}" data-root="{{.Root}}" data-user="{{.User}}" data-text="{{.Text}}" data-color="{{.Color}}" title="{{.Created|date}}">
    <a style="background-color: rgba({{if .Color}}{{.Color}}{{else}}82,155,246{{end}},1)" href="/i/{{.Hash}}">{{.Text}}</a>
{{end}}

{{define "renderMessage"}}
  <div class="ui-message" id="{{.Hash}}" data-hash="{{.Hash}}" data-root="{{.Root}}" data-parent="{{.Parent}}">
    <h4>{{with $user := .User|user}}{{$user.Name}}{{end}}</h4>
    {{.Text|markdown}}
    <p class="ui-time"><small>{{.Created|date}}</small></p>
  </div>
{{end}}
