{{define "title"}}
  <title>{{.}}</title>
{{end}}

{{define "header"}}
  <meta name="viewport" content="initial-scale=1, maximum-scale=1">
  <link rel="stylesheet" href="/static/stylesheets/screen.css">

  <script type="text/javascript" src="/static/javascript/vendor/underscore.js"></script>
  <script type="text/javascript" src="/static/javascript/vendor/jquery.js"></script>
  <script type="text/javascript" src="/static/javascript/vendor/jquery-ui.js"></script>
  <script type="text/javascript" src="/static/javascript/socket.js"></script>
  <script type="text/javascript" src="/static/javascript/main.js"></script>

  <!-- Testing
  <link rel="stylesheet" type="text/css" href="/static/javascript/vendor/jasmine/lib/jasmine-core/jasmine.css">
  <script type="text/javascript" src="/static/javascript/vendor/jasmine/lib/jasmine-core/jasmine.js"></script>
  <script type="text/javascript" src="/static/javascript/vendor/jasmine/lib/jasmine-core/jasmine-html.js"></script>
  <script type="text/javascript" src="/static/javascript/vendor/jasmine/lib/jasmine-core/boot.js"></script>
  <script type="text/javascript" src="/static/javascript/vendor/jasmine-jquery/lib/jasmine-jquery.js"></script>
  <script type="text/javascript" src="/static/javascript/tests.js"></script>-->
{{end}}

{{define "login"}}
  {{if .request}}
    {{if .request|isAuthenticated}}{{else}}
    <a class="ui-button ui-button-login" href="/login">Sign in</a>
    {{end}}
  {{end}}
{{end}}

{{define "footer"}}
  <footer>
    <a href="/" class="ui-home">Home</a>
    {{if .request}}
      {{if .request|isAuthenticated}}{{else}}
      · <a class="ui-login" href="/login">Sign in</a>
      {{end}}

      {{if .request|isAuthenticated}}
      · <a class="ui-logout" href="/logout">Sign out</a>
      {{end}}
    {{end}}
  </footer>
{{end}}

{{define "alert"}}
  <div id="alert"></div>
{{end}}

{{define "renderItem"}}
  <div class="ui-item{{if .Color|isLight}} ui-item-light{{end}}{{if .IsArchived}} ui-item-archived{{end}}" id="{{.Hash}}" data-hash="{{.Hash}}" data-parent="{{.Parent}}" data-root="{{.Root}}" data-user="{{.User}}" data-text="{{.Text}}" data-color="{{.Color}}" data-is_archived="{{.IsArchived}}">
    <a style="background-color: rgba({{if .Color}}{{.Color}}{{else}}110,171,221{{end}},1)" href="/i/{{.Hash}}">
      {{if .Text|isQuestion}}{{.Text|slice "0:-1"}}<span class="ui-item-question">?</span>{{else}}{{.Text}}{{end}}
      {{with $user := .User|user}}<span class="ui-item-user" data-name="{{$user.Name}}" data-hash="{{$user.Key}}" data-email="{{$user.Email}}"></span>{{end}}
    </a>
  </div>
{{end}}

{{define "renderMessage"}}
  <div class="ui-message" id="{{.Hash}}" data-hash="{{.Hash}}" data-root="{{.Root}}" data-parent="{{.Parent}}">
    <h4>{{with $user := .User|user}}{{$user.Name}}{{end}}</h4>
    {{.Text|markdown}}
    <p class="ui-time"><small>{{.Created|date}}</small></p>
  </div>
{{end}}
