{{define "title"}}
  <title>{{.}}</title>
{{end}}

{{define "header"}}
  <meta name="viewport" content="initial-scale=1, maximum-scale=1">
  <link rel="stylesheet" href="/static/stylesheets/screen.css">

  <script type="text/javascript" src="/static/javascript/vendor/jquery.js"></script>
  <script type="text/javascript" src="/static/javascript/vendor/jquery-ui.js"></script>
  <script type="text/javascript" src="/static/javascript/main.js"></script>
{{end}}

{{define "login"}}
  {{if .request}}
    {{if .request|isAuthenticated}}{{else}}
    <a class="ui-button ui-button-login" href="/login">Sign in</a>
    {{end}}
  {{end}}
{{end}}

{{define "footer"}}
  <footer>
    <a href="/" class="ui-home">Home</a>
    {{if .request}}
      {{if .request|isAuthenticated}}{{else}}
      · <a class="ui-login" href="/login">Sign in</a>
      {{end}}

      {{if .request|isAuthenticated}}
      · <a class="ui-logout" href="/logout">Sign out</a>
      {{end}}
    {{end}}
    {{if .item}}
      · <a href="/i/{{.item.Hash}}/delete">Delete</a>
    {{end}}
  </footer>
{{end}}

{{define "menu"}}
  <ul id="menu">
    <li class="ui-color-picker">
      <a class="ui-item-colors" href="#">
        <span data-color="227,79,72" class="ui-color ui-color-red">Red</span>
        <span data-color="245,166,35" class="ui-color ui-color-yellow">Yellow</span>
        <span data-color="2,170,107" class="ui-color ui-color-green">Green</span>
        <span data-color="82,155,246" class="ui-color ui-color-blue ui-color-selected">Blue</span>
      </a>
    </li>
    <li><a class="ui-item-view" href="#">View</a></li>
    <li><a class="ui-item-edit" href="#">Edit</a></li>
    <li><a class="ui-item-delete" href="#">Delete</a></li>
  </ul>
{{end}}

{{define "alert"}}
  <div id="alert"></div>
{{end}}
