<!DOCTYPE html>
<html>
<head>
  {{template "title" "Skit"}}
  {{template "header"}}
  <script type="text/javascript" src="/static/javascript/socket.js"></script>
</head>

<body class="ui-solids">

<article>
  <form action="/s/save" method="post" class="ui-item-form" id="root-form">
    <input type="text" name="text" placeholder="What are you thinking about?" autocomplete="off">
    <input type="hidden" name="hash" value="">
    <input type="hidden" name="parent" value="{{if .skit}}{{.skit.Hash}}{{end}}">
    <input type="hidden" name="root" value="{{if .skit}}{{.skit.Root}}{{end}}">
    <button type="submit" class="hidden">Save</button>
  </form>

  <div class="ui-root-items">
    {{range .children}}
      <div class="ui-item" id="{{.Hash}}" data-hash="{{.Hash}}" data-parent="{{.Parent}}" data-root="{{.Root}}">
        <a href="/s/{{.Hash}}">{{.Text}}</a>
      </div>
    {{end}}
  </div>
</article>

<ul id="menu">
  <li><a class="ui-item-share" href="#">Share</a></li>
  <li><a class="ui-item-edit" href="#">Edit</a></li>
  <li><a class="ui-item-delete" href="#">Delete</a></li>
</ul>

<div id="alert"></div>

{{template "footer" .}}

</body>
</html>
