<!DOCTYPE html>
<html>
<head>
  {{template "title" "Skit"}}
  {{template "header"}}
  <script type="text/javascript" src="/static/javascript/socket.js"></script>
</head>

<body class="ui-solids">

<header>
  <h1>{{.item.Text}}</h1>
</header>

<article class="ui-item-list">
  <form action="/i/save" method="post" class="ui-item-form" id="root-form">
    <input type="text" name="text" placeholder="What are you thinking about?" autocomplete="off">
    <input type="hidden" name="hash" value="">
    <input type="hidden" name="parent" value="{{if .item}}{{.item.Hash}}{{end}}">
    <input type="hidden" name="root" value="{{if .item}}{{.item.Root}}{{end}}">
    <button type="submit" class="hidden">Save</button>
  </form>

  <div class="ui-root-items">
    {{range .items}}
      <div class="ui-item" id="{{.Hash}}" data-hash="{{.Hash}}" data-parent="{{.Parent}}" data-root="{{.Root}}" title="{{.Created|date}}">
        <a href="/i/{{.Hash}}">{{.Text}} <small>{{.ChildCount}}</small></a>
      </div>
    {{end}}
  </div>
</article>

<ul id="menu">
  <li><a class="ui-item-view" href="#">View</a></li>
  <li><a class="ui-item-edit" href="#">Edit</a></li>
  <li><a class="ui-item-delete" href="#">Delete</a></li>
</ul>

<div id="alert"></div>

{{template "menu"}}
{{template "alert"}}
{{template "footer" .}}

</body>
</html>
