<!DOCTYPE html>
<html>
<head>
  {{template "title" "Skit"}}
  {{template "header"}}
</head>

<body class="ui-solids">

<header>
  <h1>{{.item.Text}}</h1>
</header>

<div id="chat">
  {{range .messages}}
    <div class="ui-message">
      <h4>{{with $user := .User|user}}{{$user.Name}}{{end}}</h4>
      {{.Text|markdown}}
      <p class="ui-time"><small>{{.Created|date}}</small></p>
    </div>
  {{end}}
  <form action="/m/save" method="post">
    <input type="text" name="text" value="" placeholder="Say something...">
    <input type="hidden" name="parent" value="{{.item.Hash}}">
    <input type="hidden" name="root" value="{{.item.Root}}">
    <button type="submit" class="hidden">Post</button>
  </form>
</div>

{{template "alert"}}
{{template "footer" .}}

</body>
</html>
