<!DOCTYPE html>
<html>
<head>
  {{template "title" "Skit"}}
  {{template "header"}}
  <script type="text/javascript" src="/static/javascript/socket.js"></script>
</head>

<body>

{{template "home" .}}
{{template "login" .}}

<div id="content"></div>

{{template "footer" .}}
<script type="text/javascript" src="/static/javascript/build/skits.js"></script>
<script type="text/javascript">
  var strings = "{{range .parents}}/s/{{.Hash}}|{{end}}";
  var urls = strings.split("|");
  urls.pop();
  // urls[urls.length-1] = window.location.pathname;

  React.renderComponent(SkitBoxes({urls: urls}),
    document.getElementById('content'));
</script>

</body>
</html>
