<!DOCTYPE html>
<html>
<head>
  {{template "title" "Skit"}}
  {{template "header"}}
  <script type="text/javascript" src="/static/javascript/socket.js"></script>
</head>

<body>

<div id="content"></div>

{{template "footer" .connections}}

<script type="text/jsx" src="/static/javascript/skits.js"></script>
<script type="text/jsx">
  /** @jsx React.DOM */
  React.renderComponent(
    <SkitBoxes urls={[window.location.pathname]} />,
      document.getElementById('content'));
</script>

</body>
</html>
