<!DOCTYPE html>
<html>
<head>
  {{template "title" "Skit"}}
  {{template "header"}}
  <script type="text/javascript" src="/static/javascript/socket.js"></script>
</head>

<body class="ui-solids">

<header>
  <h1>{{.user.Name}}</h1>
</header>

<article class="ui-item-list">
  <form action="/i/save" method="post" class="ui-item-form" id="root-form">
    <input type="text" name="text" placeholder="What are you thinking about?" autocomplete="off">
    <input type="hidden" name="hash" value="">
    <input type="hidden" name="parent" value="{{if .item}}{{.item.Hash}}{{end}}">
    <input type="hidden" name="root" value="{{if .item}}{{.item.Root}}{{end}}">
    <input type="hidden" name="color" value="{{if .item}}{{.item.Color}}{{end}}">
    <button type="submit" class="hidden">Save</button>
  </form>

  <div class="ui-root-items">
    {{range .items}}
      <div class="ui-item" id="{{.Hash}}" data-hash="{{.Hash}}" data-parent="{{.Parent}}" data-root="{{.Root}}" data-user="{{.User}}" data-text="{{.Text}}" title="{{.Created|date}}">
        <a style="background-color: rgba({{if .Color}}{{.Color}}{{else}}82,155,246{{end}},1)" href="/i/{{.Hash}}">{{.Text}} <small>{{.ChildCount}}</small></a>
      </div>
    {{end}}
  </div>
</article>

{{template "menu"}}
{{template "alert"}}
{{template "footer" .}}

</body>
</html>
