<!DOCTYPE html>
<html>
<head>
  {{template "title" "Skit"}}
  {{template "header"}}
  <script type="text/javascript" src="/static/javascript/socket.js"></script>
</head>

<body class="ui-solids">

<header>
  <h1>People</h1>
</header>

<article>
  {{range .users}}
    <div class="ui-item">
      <a href="/u/{{.Hash}}">{{.Name}}</a>
    </div>
  {{end}}
</article>

<ul id="menu">
  <li><a class="ui-item-view" href="#">View</a></li>
  <li><a class="ui-item-edit" href="#">Edit</a></li>
  <li><a class="ui-item-delete" href="#">Delete</a></li>
</ul>

{{template "menu"}}
{{template "alert"}}
{{template "footer" .}}

</body>
</html>
